[Unit]
Description=Service Registry
StartLimitBurst=10
After=mysql.service
After=docker.service
Requires=docker.service

[Service]
TasksMax=infinity
RestartSec=30
Restart=always
Environment="NODE_ENV=production"
Type=forking
ExecStart=/usr/bin/docker run --network="host" --volume=/var/lib/danielhammerl/service-dbs:/var/lib/danielhammerl/service-dbs --env-file /var/lib/danielhammerl/service-env/service-registry.env -i dhammerl-service-registry:latest
ExecStop=/usr/bin/docker stop $(/usr/bin/docker ps -q --filter ancestor=dhammerl-service-registry)

[Install]
WantedBy=multi-user.target
